@import '../../styles/variables/variables.scss';
@import '../../styles/mixin/mixin.scss';

.container-list {
	border-radius: 4px;
	padding: 16px;
	background-color: map-get($theme, background-color-input);
	margin: 0 0 100px 0;

	li {
		list-style: none;
		width: 100%;
		margin-bottom: 10px;
		cursor: pointer;
	}

	li + li {
		border-top: 2px solid map-get($theme, color-border);
	}
}

.container-item {
	@include make-row();
	width: 100%;
	padding: 10px;
	color: map-get($theme, font-color-primary);
}

.w-20 {
	width: 20%;
}

.w-60 {
	width: 60%;
}

.pl-30 {
	padding-left: 30px;
}

.pt-30 {
	padding-top: 30px;
}

.flex-container {
	@include container(flex, center, center);
}

.img-container {
	width: 100%;
	border-radius: 4px;

	@media screen and (max-width: map-get($grid-breakpoints, sm)) {
		width: 190px;
	}
}

.tag-price {
	color: map-get($theme, font-color-primary);
	@include make-row();
	font-size: 25px;
	font-weight: 400;
	line-height: 1;
	margin: 20px 0px 10px 0px;

	.tag-simbol {
		margin-right: 6px;
	}
}

.tag-city {
	font-size: 12px;
}

.tag-title {
	width: 80%;
	margin-top: 20px;

	@media screen and (max-width: map-get($grid-breakpoints, sm)) {
		width: 100%;
	}

	span {
		line-height: 1.4;
		font-size: 17.5px;
	}
}
