@import './variables/variables.scss';
@import './mixin/mixin.scss';
body {
	margin: 0;
	padding: 0;
	background-color: map-get($theme, background-color);
	font-family: $font-familiy;
}

.flex {
	@include make-row();

	&.flex-row {
		flex-direction: row;
	}

	&.items-center {
		align-items: center;
	}

	&.justify-center {
		justify-content: center;
	}
}

.padding {
	&.pa {
		padding: 10px;
	}
}
